.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  padding: 20px;
}

.player {
  width: 100%;
  max-width: 800px;
}

.player .video-react-control-bar {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid #333;
}

.player .video-react-control {
  color: #fff;
}

.player .video-react-time-control {
  color: #fff;
}

.player .video-react-progress-bar {
  background-color: #007bff;
}

.player .video-react-fullscreen-button,
.player .video-react-play-screen {
  color: #fff;
}

.player .video-react-volume-bar {
  background-color: #007bff;
}

.player .video-react-volume-menu-button {
  color: #fff; /* Cor do ícone de volume */
}

.qualityButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.qualityButtons button {
  background-color: #ad1433;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.qualityButtons button:hover {
  background-color: #ff0000;
}

.qualityButtons button.active {
  background-color: #c90606;
}
